*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body, #root {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin: 0;
  padding: 0;
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
  background: #0c0c11;
}

